services:
  db:
    image: pgvector/pgvector:0.8.1-pg16-trixie
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: rag
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./infra/postgres/init.sql:/docker-entrypoint-initdb.d/00-init.sql:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d rag"]
      interval: 5s
      timeout: 5s
      retries: 5

  rag-api:
    build:
      context: ./services/rag-api
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/rag
      # Pasamos la variable del host al contenedor
      GOOGLE_API_KEY: 
    volumes:
      - ./:/repo
    working_dir: /repo/services/rag-api
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy

volumes:
  pgdata:
